@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0b1220] text-cyan-100;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-[#101A2E];
}

::-webkit-scrollbar-thumb {
  @apply bg-cyan-900 rounded-full hover:bg-cyan-700 transition-colors;
}
